<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

    <title>Mom's Art</title>
</head>
<body>
    <header id="header">
        <div class="header">
            <!-- Logo -->
            <div class="logo-container">
                <a href="/">
                    <img src="/productimage/1.png" alt="Logo" class="logo">
                </a>
            
            </div>

            <!-- Navbar -->
            <nav id="navbar-container">
                <ul id="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
            </div>
            <div class="hamburger" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                    </div>

            <div class="overlay" id="overlay" onclick="toggleMenu()"></div>
        </div>
    </header>
    

  <div class="place-card">
        <section id="hero">
            <div class="hero-text-left">
                <h2>All Handmade Textiles</h2>
                <h3>On all Products</h3>
                <h2>Sales up to 70%!!!</h2>
                <button><a href="Sale.html">Shop Now </a><i class="fa-solid fa-bag-shopping"></i>
                </button>
                
            </div>
            <div class="hero-image">
                <img src="/productimage/2.png" alt="Model Image">
                <div class="hero-text-right">
                    <p>New Autumn Winter 2025 Women Collection Available Now</p>                
            </div>
        </section>
    </div>
    <section id="product" class="section-p1">
        <h2>Featured Products</h2>
        <p>
            Jigme Choden Hor Collection</a>
        </p>
        <div class="pro-container">
            <div class="pro">
                <img src="/productimage/p1.png" alt="">
                <div class="des">
                    <span><a href="JCKiras.html" class="Jigme-Featured">Kira</a></span>
                <h5>
                <a href="p1.html" class="Jigme-Featured">7 Wrap Stripes</a>
                </h5>

                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>Nu 11999</p>

                </div>
                <a href="#" class="cart-link">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                </a></div>
    
            <div class="pro">
                <img src="/productimage/p2.png" alt="">
                <div class="des">
                    <span><a href="JCGhos.html.html" class="Jigme-Featured">Gho</a></span>
                <h5>
                <a href="p2.html" class="Jigme-Featured">5 Wrap Stripes</a>
                </h5>
    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>Nu 10549</p>
                </div>
                <a href="#" class="cart-link">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                </a>
            </div>
            
    
            <div class="pro">
                <img src="/productimage/p3.png" alt="">
                <div class="des">
                    <span><a href="JCKiras.html.html" class="Jigme-Featured">Kira</a></span>
                <h5>
                <a href="p1.html" class="Jigme-Featured">3 Wrap Stripes </a></h5>
                    <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    
                    </div>
                    <p>Nu 5199</p>
                </div>
                <a href="#" class="cart-link">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                </a>
            </div>
    
            <div class="pro">
                <img src="/productimage/p4.png" alt="">
                <div class="des">
                    <span><a href="JCKiras.html.html" class="Jigme-Featured">Kira</a></span>
                <h5>
                <a href="p4.html" class="Jigme-Featured">Mixed Pattern Kira</a></h5>
                   <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <p>Nu 22259</p>
                </div>
                <a href="#" class="cart-link">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                </a>
            </div>
    
            <div class="pro">
                <img src="/productimage/p5.png" alt="">
                <div class="des">
                    <span><a href="JCKiras.html.html" class="Jigme-Featured">Kira</a></span>
                <h5>
                <a href="p1.html" class="Jigme-Featured">3 Wrap Stripes </a></h5>
                   <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <p>Nu 5299<p>
                </div>
                <a href="#" class="cart-link">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                </a>
            </div>
    
            <div class="pro">
                <img src="/productimage/p6.png" alt="">
                <div class="des">
                    <span><a href="JCKiras.html.html" class="Jigme-Featured">Kira</a></span>
                <h5>
                <a href="p1.html" class="Jigme-Featured">3 Wrap Stripes Kira</a></h5>
                   <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>Nu 4999<p>
                </div>
                <a href="#" class="cart-link">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                </a> </div>
    
            <div class="pro">
                <img src="/productimage/p7.png" alt="">
                <div class="des">
                    <span><a href="JCGhos.html" class="Jigme-Featured">Gho</a></span>
                <h5>
                <a href="p1.html" class="Jigme-Featured">5 Wrap Stripes</a></h5>
                   <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        
                    </div>
                    <p>Nu 16999<p>
                </div>
                <a href="#" class="cart-link">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                </a>
            </div>
    
            <div class="pro">
                <img src="/productimage/p8.png" alt="">
                <div class="des">
                    <span><a href="JCGhos.html" class="Jigme-Featured">Gho</a></span>
                <h5>
                <a href="p1.html" class="Jigme-Featured">7 Wrap Stripes Silk</a></h5>
                   <div class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>Nu 19999</p>
                </div>
                <a href="#" class="cart-link">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                </a>
            </div>
        </div>
    </section>
    <section id="newsletter">
        <div class="newstext">
            <h4>
                Join Our Newsletter!
            <p> Get E-mail about our latest products and special offers </p>
            </h4>
        </div>
        <div class="form">
            <input  type="text" placeholder="Your Email Address">
            <button>Sign Up</button>
        </div>
    </section>
    

    <footer class="site-footer">
        <div class="column">
            <h4>Contact</h4>
            <p><strong>Address: </strong>3 Sherab Lam NPPF Colony Phuntsholing</p>
            <p><strong>Phone: </strong>097517717070</p>
            <p><strong>Email: </strong>nedearies@gmail.com</p>
            <p>My purchases</p>
        </div>
    
        <div class="column">
            <h4>My Account</h4>
            <a href="/login">Sign In</a>
            <a href="#">Items and Sizes</a>
            <a href="#">Payment and Invoices</a>
            <a href="#">My Purchases</a>
        </div> 
    
        <div class="column">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fa-brands fa-tiktok"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-square-x-twitter"></i> 
            </div>
        </div>
    
        <div class="column">
            <h4>About Us</h4>
            <a href="#">Company</a>
            <a href="#">About Us</a>
            <a href="#">Stores</a>
        </div> 
        <div class="column">
           
            <a href="index.html"><img src="/productimage/1.png" class="logo" alt="Logo"></a>
        </div> 
    
        <div class="copyright">
            <p>All rights reserved</p>
        </div>
    </footer>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js">
    function toggleMenu() {
            document.getElementById("navbar").classList.toggle("active");
            document.getElementById("overlay").classList.toggle("active");
        }</script>
